//Colours
//Primary
$lightRedPrimary: hsl(0, 100%, 67%);
$orangeyYellowPrimary: hsl(39, 100%, 56%);
$greenTealPrimary: hsl(166, 100%, 37%);
$cobaltBluePrimary: hsl(234, 85%, 45%);

//Gradients
$lightSlateBlueGradient: hsl(252, 100%, 67%);
$lightRoyalBlueGradient: hsl(241, 81%, 54%);
$violetBlueGradient: hsla(256, 72%, 46%, 1);
$persianBlueGradient: hsla(241, 72%, 46%, 0);

//Neutral
$whiteNeutral: hsl(0, 0%, 100%);
$paleBlueNeutral: hsl(221, 100%, 96%);
$lightLavenderNeutral: hsl(241, 100%, 89%);
$darkGrayBlueNeutral: hsl(224, 30%, 27%);

$fontUrl: "https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap";
